<div id="yieldwrapper" class="expanded row">


<div id="image-wrap" class="large-10 large-push-2 columns float-left">
    <div id="imageLoader-wrapper" class="large-3 small-12 columns">
      <label for="imageLoader" id="imageLoader-label">Choose your image file</label>
      <input type="file" id="imageLoader" name="imageLoader"/>
    </div>
    <div id="preview-wrapper" class="float-center">

    <div id="cursor"><img></div>
    <canvas id="imagePreview">
    </canvas>
    </div>
<div class="point-reminder"><h2 class="point-reminder">Point on image to place your watermark</h2></div>
</div>



<div id="tools" class="large-2 large-pull-10 columns float-left">

  <label>Add text:</label><br>
  <input type="text" id="watermarktext" name="watermarktext"><br><br>

  <span>Or add your own file:</span><br>


  <div id="waterMarkLoader-wrapper">
    <label for="waterMarkLoader" id="waterMarkLoader-label">Choose your watermark image</label>
    <input type="file" id="waterMarkLoader" name="waterMarkLoader"/><br>
  </div>

  <a id="download">Download as image</a>

</div>





<div id="canvas-wrapper" class="hide">
<canvas id="imageCanvas">

</canvas>
</div>

</div>
<%= javascript_include_tag "generate" %>
