
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */


body {
	background: linear-gradient(rgb(200,200,250), white);
	background-repeat: no-repeat;
}


#topbar {
	width: 100%;
	background: linear-gradient(rgb(200,200,200), rgb(250,180,160));
	border-bottom: 1px solid rgb(0,100,150);
	height: 40px;
	box-shadow: 0px 5px 20px 0px rgb(100,100,100);
	position: fixed;
	top: 0;
	z-index: 1200;
}

