// Place all the styles related to the generator controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#yieldwrapper {
	height: 100%;
}

#imageCanvas {
	position: relative;
}

#imagePreview {
	position: relative;
}

@media screen and (min-width: 1024px) {
#imagePreview.wmloaded:hover {
	opacity: 0.6;
}}

#tools {
	background: linear-gradient(rgb(140,140,160), white 100%);
	height: 100vh;

}

#cursor {
	position: absolute;
}

#preview-wrapper {
	width: 100%;
	height: 100%;
	outline: 5px solid rgb(220,220,250);
	display: none;
	margin-top: 100px;
}

.point-reminder {
	display: none;
}

h2.point-reminder {
	text-align: right;
	color: white;
}

#image-wrap {
	margin-bottom: 20px;
}

input[type="file"] {
	display:none;
}

#imageLoader-label {
	height: 30px;
	background-color: #2199e8;
	color: white;
	font-weight: bold;
	width: 100%;
	border: 2px solid white;
	border-radius: 10px;
	margin-top: 20px;
	text-align: center;
	position: relative;
}

#waterMarkLoader-label {
	height: 30px;
	background-color: white;
	color: #2199e8;
	font-weight: bold;
	width: 100%;
	border: 2px solid #2199e8;
	border-radius: 10px;
	margin-top: 10px;
	text-align: center;
	position: relative;
}